/* Typography */
h1,
h2,
h3 {
  letter-spacing: 0px;
  font-family: "IBM Plex Mono", monospace;
  line-height: 1.4;
}

h1 {
  font-size: 2.5em;
}

.main-container h1 {
  max-width: 1200px;
}

.reactions label {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

.paragraph {
  min-width: 0px;
  margin: 0px;
  overflow-wrap: break-word;
  text-align: left;
  padding-right: 20px;
  font-size: 1.3em;
}

.paragraph pre {
  display: inline;
  font-family: monospace;
  background-color: rgb(238, 238, 238);
  padding: 3px;
  white-space: pre-wrap;
  line-height: 1.6;
}

code {
  font-family: monospace, monospace;
  font-size: 1em;
}

blockquote {
  font-size: 2rem;
  font-style: italic;
  margin-left: 0px;
  margin-right: 0px;
  padding: 2rem 0px;
  text-align: center;
}

/* Hyperlinks*/
.date {
  margin-left: 0px;
  padding: 4px 0px;
}

a {
  /* margin-left: 15px; */
  border-radius: 2px;
  padding: 2px 4px;
  position: relative;
  align-self: baseline;
  color: rgb(60, 60, 59);
  transition: color 200ms ease 0s;
  text-decoration: none;
  outline: none;
  background-color: transparent;
}

/* Containers */
.post-text-container {
  display: "flex";
  flex-direction: "column";
}

.general-item-container {
  margin: 50px;
}

.generalItem {
  width: 123%;
  float: right; 
}

.post-content-container iframe {
  max-height: 927px;
  overflow: scroll;
  max-width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
  align-self: flex-start;
}

.post-content-container {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
}

.post-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  width: 100%;
}

.reactions-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.code-container pre {
  text-align: left;
  font-weight: bolder;
}

.post-row .side-cell {
  max-width: 280px;
  min-width: 280px;
  display: inline-block;
}

.post-row .center-cell {
  flex-grow: 4;
}

.post-row h2 {
  text-align: left;
  font-size: 1.7rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main-container h1 {
  margin-bottom: 0px;
  margin-top: 0px;
}

.post-meta {
  text-align: center;
  color: rgb(60, 60, 59);
  transition: color 200ms ease 0s;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1rem;
  width: 100%;
  max-width: 1200px;
}

.reactions {
  display: flex;
  align-items: center;
}

.main-image-container {
  max-width: 1200px;
  margin-bottom: 25px;
  margin-top: 15px;
}

.main-image-container img{ 
  max-width: 100%;
  height: auto;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

.main-image-container img:hover {
  transform: scale(1.02);
}

.emojis {
  display: flex;
  flex-grow: 1;
}

.emoji-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  position: relative;
}

.tags {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.tags-container {
  max-width: 700px;
}

.share-story-container {
  margin-top: 150px
}

.related-articles {
  display: flex;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
  flex-direction: row;
}

/* Responsiveness */
@media screen and (max-width: 768px) { 
  .post-content-container {
    flex-wrap: wrap;
    max-width: 700px;
    margin-left: 15px;
  }

  h1 {
    font-size: 2rem;
    text-align: left;
  }

  .emojis {
    transform: scale(0.8);
  }
  .paragraph {
    font-size: 1rem;
  }

  .post-text-container {
    max-width: 500px
  }

  .post-content-container iframe {
    max-width: 100%;
  }

  .generalItem {
    width: 100%;
    float: none;
  }

  .general-item-container {
    margin: 0;
  }

  blockquote {
    font-size: 1.2rem;
  }

  .share-story-container {
     margin-top: 0;
}

.related-articles {
  flex-direction: column;
}
  
}
