.App {
  text-align: center;
}

header {
  transform: translateY(0px);
  position: sticky;
    top: 0px;
    z-index: 99;
    transition: transform 200ms ease-in-out 0s;
}

header[visible="0"] {
  top: -100px
}

@media screen and (max-width: 768px) { 
  header[visible="0"] {
    top: -58px;
  }
}


